@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	background: #dee2e6;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #3f3e3e;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 40px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	z-index: 1000;
	border-bottom: 3px solid #1956da;
}

.logo {
	font-size: 1.75rem;
	font-weight: 700;
	color: #ffffff;
	letter-spacing: 1px;
}

.navbar ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 2rem;
}

.navbar li a {
	position: relative;
	text-decoration: none;
	padding: 10px;
	font-size: 1.2rem;
	font-weight: 500;
	color: #ffffff;
	border-radius: 15px;
	transition: color 0.3s ease;
}

.navbar li a::after {
	content: '';
	position: absolute;
	left: 0;
	width: 0;
	height: 3px;
	bottom: 0px;
	background-color: #1956da;
	transition: width 0.3s ease;
}

.navbar li a:hover::after {
	width: 100%;
}
