/* ! THIS IS THE IMPORT FOT FONS */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Pixelify+Sans:wght@400..700&display=swap');

/* ! THIS IS THE * */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ! THIS IS THE BODY */
body {
	background: #dee2e6;
	font-family: 'Jua', sans-serif;
	margin: 0;
	padding: 0;
}

/* ! THIS IS THE NAVBAR */
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #3f3e3e;
	padding: 1rem 10rem;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	z-index: 1000;
	border-bottom: 3px solid #1956da;
}

.logo {
	font-family: 'Pixelify Sans', sans-serif;
	font-size: 1.75rem;
	color: #ffffff;
	letter-spacing: 1px;
	animation: floatInLeft 0.8s ease-out forwards;
}

.logo a {
	text-decoration: none;
	color: #ffffff;
}

.navbar ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 5rem;
	animation: floatInRight 0.8s ease-out forwards;
}

.navbar li a {
	position: relative;
	display: inline-block;
	text-decoration: none;
	padding: 10px 0;
	font-size: 1.25rem;
	font-weight: 500;
	color: #ffffff;
	transition: color 0.3s ease;
}

.navbar li a::after {
	content: '';
	position: absolute;
	left: 0;
	width: 0;
	height: 3px;
	bottom: 0;
	background-color: #1956da;
	transition: width 0.3s ease;
}

.navbar li a:hover {
	color: #007bff;
}

.navbar li a:hover::after {
	width: 100%;
}

.navbar li a.active {
	color: #007bff;
}

.navbar li a.active::after {
	width: 100%;
}

/* ! THIS IS FOR THE LEFT-SIDE CONTAINER */
.container_1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	padding: 6rem 5rem;
	gap: 5rem;
	background: linear-gradient(300deg, #f3904f, #3b4371, #f3904f);
	background-size: 600% 600%;
	background-attachment: fixed;
	animation: mainTextAnimation 10s ease infinite;
}

.info {
	flex: 1;
	justify-content: center;
	align-items: center;
	text-align: center;
	animation: fadeInUp 1s ease forwards;
}

.left {
	text-align: right;
}

.right {
	text-align: left;
}

.divider {
	width: 2px;
	height: 350px;
	background-color: #cccccc;
	border-radius: 2px;
}

.text {
	font-size: 2.5rem;
	color: #000000;
	margin-bottom: 0.5rem;
}

h1 {
	font-size: 3rem;
	color: #000000;
	margin-bottom: 0.5rem;
}

h1 span {
	font-family: 'PT Sans', sans-serif;
}

h2 {
	font-size: 2.25rem;
	color: #000000;
	font-weight: 500;
	margin-bottom: 1rem;
}

.icons-socials {
	display: flex;
	justify-content: flex-end;
	gap: 4rem;
	padding: 2rem;
}

.icons-socials-skills {
	display: flex;
	gap: 4rem;
	padding: 2rem;
}

.icons svg,
.icons-skills svg {
	background-color: #000000;
	color: #ffffff;
	padding: 6px;
	border-radius: 10px;
	transition: all 0.3s ease;
}

.icons svg:hover,
.icons-skills svg:hover {
	transform: scale(1.2) rotate(-3deg);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.icons svg:hover {
	background-color: #ffffff;
	color: #000000;
}

/* ! DROPDOWN MENU */
#menu_toggle {
	display: none;
}

.dropdown {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 20px;
	cursor: pointer;
}

.dropdown span {
	display: block;
	height: 3px;
	width: 100%;
	background: #ffffff;
	border-radius: 10px;
	transition: all 0.3s ease;
}

#menu_toggle:checked + .dropdown span:nth-child(1) {
	transform: translateY(8px) rotate(45deg);
}

#menu_toggle:checked + .dropdown span:nth-child(2) {
	opacity: 0;
}

#menu_toggle:checked + .dropdown span:nth-child(3) {
	transform: translateY(-8px) rotate(-45deg);
}

/* ! THIS IS THE PROJECT CARDS */
.project_grid {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(2, minmax(300px, 800px));
	gap: 3rem;
	padding: 8rem;
	box-sizing: border-box;
}

.project_card {
	width: 100%;
	max-width: 800px;
	border-top: 5px solid #1956da;
	border-radius: 10px;
	background: #ffffff;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
	padding: 1rem;
	box-sizing: border-box;
	transition: border 0.3s ease, box-shadow 0.3s ease;
}

.project_card:hover {
	border-color: #0e3a9c;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.project_image {
	display: flex;
	justify-content: center;
}

.project_card img {
	width: 100%;
	height: 300px;
	border-radius: 10px;
	margin: 1rem 0;
	object-fit: cover;
}

.project_card h2 {
	text-align: center;
	font-size: 2rem;
}

.project_card p {
	font-size: 1.25rem;
	line-height: 1.5;
	margin: 5px;
}

.project_button {
	display: inline-block;
	max-width: 200px;
	margin-top: 20px;
	padding: 10px 20px;
	text-decoration: none;
	font-size: 1.25rem;
	background: #1956da;
	color: #ffffff;
	border-radius: 10px;
	transition: background 0.3s ease, transform 0.2s ease;
}

.project_button:hover {
	background-color: #0e3a9c;
	transform: scale(1.03);
}

/* ! THIS IS THE FORM CONTAINER */
.form_container {
	background: #ffffff;
	padding: 2rem;
	border-radius: 8px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
	border-top: 5px solid #1956da;
	max-width: 650px;
	margin: 150px auto 0;
}

.form_container h1 {
	text-align: center;
	font-size: 2.5rem;
	font-weight: bold;
	color: #000000;
	margin-bottom: 2rem;
}

form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

label {
	font-weight: bold;
	font-size: 1rem;
	color: #000000;
}

input,
textarea {
	padding: 1rem 0.8rem;
	border: 2px solid #cfcfcf;
	border-radius: 10px;
	font-size: 1rem;
	color: #000000;
	background: #fafafa;
	transition: all 0.2s ease;
}

textarea {
	resize: none;
	height: 120px;
}

.submit-button {
	background: #1956da;
	color: #ffffff;
	border: none;
	border-radius: 10px;
	padding: 1rem;
	font-size: 1.25rem;
	font-weight: bold;
	cursor: pointer;
	transition: background 0.3s ease, transform 0.2s ease;
}

.submit-button:hover {
	background-color: #0e3a9c;
	transform: scale(1.03);
}

.note {
	text-align: center;
	color: #000000;
	font-size: 1.25rem;
	font-weight: bold;
	margin-top: 1rem;
}

/* ! THIS IS THE ABOUT SECTION */
.about {
	padding: 5rem 5rem;
	text-align: center;
}

.about h2 {
	font-size: 2.5rem;
	color: #111;
	margin-bottom: 2rem;
}

.about p {
	max-width: 850px;
	margin: 0 auto 5rem auto;
	font-size: 1.25rem;
	color: #555;
}

.about_cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 3rem;
}

.card {
	flex: 1 1 250px;
	background: #ffffff;
	padding: 3rem;
	border-radius: 10px;
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

/* ! THIS IS THE CONTACT SECTION */

.contact {
	padding: 5rem;
	text-align: center;
	background: #111111;
	color: #ffffff;
}

.contact h2 {
	color: #ffffff;
	font-weight: bold;
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

.contact p {
	font-weight: bold;
	font-size: 1.25rem;
	margin-bottom: 2rem;
}

.contact .footer_button {
	background: #00aaff;
}

.footer_button:hover {
	background: #0d78ad;
}

.footer_button {
	display: inline-block;
	padding: 1rem 2rem;
	background: #111111;
	color: #ffffff;
	text-decoration: none;
	border-radius: 50px;
	transition: 0.5s;
}

/* ! THIS IS THE MEDIA QUERY */
/* ! 1200px */
@media (max-width: 1200px) {
	.project_grid {
		gap: 2rem;
		padding: 3rem;
	}

	.container_1 {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding-top: 8rem;
		padding: 8rem 3rem;
		min-height: auto;
		gap: 4rem;
	}

	.left,
	.right {
		text-align: center;
	}

	.divider {
		width: 100%;
		height: 2px;
	}

	.text {
		font-size: 1.25rem;
	}

	.icons-socials,
	.icons-socials-skills {
		justify-content: center;
		gap: 2rem;
		padding: 1rem 0;
	}

	.dropdown {
		display: flex;
	}

	nav {
		padding: 15px 20px;
	}

	.navbar {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background: #3f3e3e;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.5s ease;
	}

	.navbar ul {
		flex-direction: column;
		padding: 1rem 0;
		gap: 1rem;
	}

	#menu_toggle:checked ~ .navbar {
		max-height: 400px;
	}
}

/* ! 1024px */
@media (max-width: 1024px) {
	.form_container {
		max-width: 75%;
		margin: 150px auto 0;
		padding: 1.5rem;
	}

	.form_container h1 {
		font-size: 2rem;
		margin-bottom: 1.5rem;
	}

	.note {
		font-size: 1.1rem;
	}
}

/* ! 900px */
@media (max-width: 900px) {
	.project_grid {
		grid-template-columns: 1fr;
		gap: 2rem;
		padding: 6rem 2rem 2rem 2rem;
	}

	.project_card img {
		height: 250px;
	}
}

/* ! 768px */
@media (max-width: 768px) {
	.dropdown {
		display: flex;
	}

	nav {
		padding: 15px 20px;
	}

	.navbar {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background: #3f3e3e;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.5s ease;
	}

	.navbar ul {
		flex-direction: column;
		padding: 1rem 0;
		gap: 1rem;
	}

	.container_1 {
		padding-top: 250px;
		height: 110vh;
	}

	.project_card h2 {
		font-size: 1.5rem;
	}

	.project_card p,
	.project_button {
		font-size: 1.25rem;
	}

	.dropdown {
		display: flex;
	}

	nav {
		padding: 15px 20px;
	}

	.navbar {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background: #3f3e3e;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.5s ease;
	}

	.navbar ul {
		flex-direction: column;
		padding: 1rem 0;
		gap: 1rem;
	}

	#menu_toggle:checked ~ .navbar {
		max-height: 400px;
	}
}

@media (max-width: 425px) {
	body {
		padding-top: 70px;
	}

	.container_1 {
		padding-top: 70px;
		height: 150vh;
	}

	.form_container {
		margin: 50px auto;
	}

	.project_grid {
		padding-top: 40px;
	}
}

/* ! THIS IS ANIMATION FOR BOTH CONTAINERS */
@keyframes floatInLeft {
	from {
		opacity: 0;
		transform: translateX(-50px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes floatInRight {
	from {
		opacity: 0;
		transform: translateX(50px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(30px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes mainTextAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
